<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="parts/common :: head"></head>

<body>
<div th:insert="~{parts/common :: scripts}"></div>
<div th:replace="parts/common :: navbar"></div>

<div id="container">
    <div class="container mt-5 pb-5">
        <form action="/order" method="post" enctype="multipart/form-data">
        <p class="h4 mb-4 text-center">Оформление заказа</p>
        <br>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Имя:</label>
                        <div class="col-sm-8">
                            <input type="text" name="firstName" th:value="${order} ? ${order.firstName} : ''"
                                   class="form-control" th:classappend="${firstNameError} ? ' is-invalid'" />
                            <div th:if="${firstNameError}" class="invalid-feedback" th:text="${firstNameError}"></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Фамилия:</label>
                        <div class="col-sm-8">
                            <input type="text" name="lastName" th:value="${order} ? ${order.lastName} : ''"
                                   class="form-control" th:classappend="${lastNameError} ? ' is-invalid'" />
                            <div th:if="${lastNameError}" class="invalid-feedback" th:text="${lastNameError}"></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Город:</label>
                        <div class="col-sm-8">
                            <input type="text" name="city" th:value="${order} ? ${order.city} : ''"
                                   class="form-control" th:classappend="${cityError} ? ' is-invalid'" />
                            <div th:if="${cityError}" class="invalid-feedback" th:text="${cityError}"></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Адрес:</label>
                        <div class="col-sm-8">
                            <input type="text" name="address" th:value="${order} ? ${order.address} : ''"
                                   class="form-control" th:classappend="${addressError} ? ' is-invalid'" />
                            <div th:if="${addressError}" class="invalid-feedback" th:text="${addressError}"></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Индекс:</label>
                        <div class="col-sm-8">
                            <input type="text" name="postIndex" th:value="${order} ? ${order.postIndex} : ''"
                                   class="form-control" th:classappend="${postIndexError} ? ' is-invalid'" />
                            <div th:if="${postIndexError}" class="invalid-feedback" th:text="${postIndexError}"></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Телефон:</label>
                        <div class="col-sm-8">
                            <input type="text" name="phoneNumber" th:value="${order} ? ${order.phoneNumber} : ''"
                                   class="form-control" th:classappend="${phoneNumberError} ? ' is-invalid'" placeholder="380__ ___ __ __"/>
                            <div th:if="${phoneNumberError}" class="invalid-feedback" th:text="${phoneNumberError}"></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Email:</label>
                        <div class="col-sm-8">
                            <input type="text" name="email" th:value="${order} ? ${order.email} : ''"
                                   class="form-control" th:classappend="${emailError} ? ' is-invalid'" placeholder="exemple@email.com"/>
                            <div th:if="${emailError}" class="invalid-feedback" th:text="${emailError}"></div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="container-fluid">
                        <div class="row" th:fragment="list">
                            <div class="col-lg-6 d-flex align-items-stretch" th:each="perfume : ${perfumes}">
                                <div class="card mb-5" th:if="${perfume.getFilename()}">
                                    <img th:src="@{/img/{path} (path = ${perfume.getFilename()})}" class="rounded mx-auto w-50">
                                    <div class="card-body text-center">
                                        <h5 th:text="${perfume.getPerfumeTitle()}"></h5>
                                        <h6 th:text="${perfume.getPerfumer()}"></h6>
                                        <h6><span th:text="${perfume.getPrice()}"></span>,00 грн.</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <button class="btn btn-primary btn-lg btn-success px-5 float-right">Подтвердить заказ</button>
                        <input type="hidden" name="totalPrice" th:value="${#aggregates.sum(perfumes.![price])}">
                    <div class="row">
                        <p> </p>
                        <h4>К оплате : <span th:text="${#aggregates.sum(perfumes.![price])}"></span> грн.</h4>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<footer th:insert="~{parts/common :: footer}"></footer>

</body>
</html>