html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 400px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

.white {
    color: white;
}

.copy_right {
    width: 200px;
}
