<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="parts/common :: head"></head>

<body>

<div th:insert="~{parts/common :: scripts}"></div>
<div th:replace="parts/common :: navbar"></div>

<div id="container" class="container">
    <div th:replace="parts/common :: userNavbar"></div>
    <h3 class="text-center mt-5">Привет <span th:text="${#authentication.name}"></span></h3>
</div>

<footer th:insert="~{parts/common :: footer}"></footer>

</body>
</html>