.manage_user_order_title {
    text-align: center;
}

.manage_user_order_subtitle {
    margin-bottom: 30px;
}

.manage_user_order_summary {
    margin-bottom: 30px;
    margin-top: 30px;
}

.manage_user_order_summary_price {
    color: green;
}
