
<!--Header-->
<head th:fragment="head" xmlns:th="http://www.thymeleaf.org">
    <title>Perfume</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" />
    <link rel="stylesheet" href="/static/style.css" />
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>


<!--Scripts-->
<div th:fragment="scripts" xmlns:th="http://www.thymeleaf.org">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</div>


<!--Navbar-->
<div th:fragment="navbar" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

    <div class="container-fluid bg-black header-top d-none d-md-block pb-5 pt-5">
            <img id="logo-main" src="https://i.ibb.co/fqYvrL8/LOGO4.jpg"
                 class="rounded mx-auto d-block " />
    </div>

    <div class="container-fluid bg-black">
        <nav class="container navbar navbar-expand-lg bg-black text-white" style="font-size: 18px" >
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto ">
                    <li class="nav-item">
                        <a class="nav-link text-light pl-5 pr-5" href="/">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light pl-5 pr-5" href="/menu">Парфюмерия</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light pl-5 pr-5" href="/contacts">Контакты</a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto">

                    <form class="form-inline d-flex justify-content-center md-form form-sm mr-3" method="get" action="/search">
                        <input class="form-control form-control-sm mr-3 w-75 rounded-0" type="text" name="filter" placeholder="Поиск"
                               aria-label="Search" />
                        <button type="submit" class="bg-black"><i class="fas fa-search fa-1x" aria-hidden="true" style="color:white"></i></button>
                    </form>

                    <li class="nav-item">
                        <a class="nav-link" href="/cart"><i class="fas fa-shopping-cart fa-1 pl-2 pr-2" style="color:white"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light " href="/cabinet">Личный кабинет</a>
                    </li>
                </ul>

                <form action="/logout" method="post" sec:authorize="isAuthenticated()">
                    <input type="submit" class="bg-black" style="color:white" value="Выход"/>
                </form>
            </div>
        </nav>
    </div>
</div>

<!--User navbar-->
<nav th:fragment="userNavbar" class="navbar navbar-expand-lg navbar-dark bg-dark" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link text-light mx-3" href="/user/edit">Изменить пароль</a>
        </li>
        <li class="nav-item" sec:authorize="hasAuthority('USER')">
            <a class="nav-link text-light mx-3" href="/userOrders">Список заказов</a>
        </li>
    </ul>

    <ul class="navbar-nav" sec:authorize="hasAuthority('ADMIN')">
        <li class="nav-item">
            <a class="nav-link text-light mx-3" href="/orders">Список всех заказов</a>
        </li>
        <li class="nav-item">
            <form action="/user" method="get">
                <a class="nav-link text-light mx-3" href="/user">Список пользователей</a>
            </form>
        </li>
        <li class="nav-item">
            <form action="/user/add" method="get">
                <a class="nav-link text-light mx-3" href="/user/add">Добавить товар</a>
            </form>
        </li>
        <li class="nav-item">
            <form action="/user/productlist" method="get">
                <a class="nav-link text-light mx-3" href="/user/productlist">Список товаров</a>
            </form>
        </li>
    </ul>
</nav>

<!--Pager-->
<div th:fragment="pagination" xmlns:th="http://www.thymeleaf.org">
    <ul class="pagination">
        <li class="page-item disabled">
            <a class="page-link " href="#" tabindex="-1">Страницы</a>
        </li>
        <!--<th:block th:each="i : ${#numbers.sequence( 1, page.getTotalPages())}">-->
        <th:block th:each="i : ${pagination}">
            <th:block th:if="${i - 1 == page.getNumber()}">
                <li class="page-item active">
                    <a class="page-link bg-dark border-dark" href="#" th:text="${i}"></a>
                </li>
            </th:block>

            <th:block th:if="${i != -1 and i - 1 != page.getNumber()}">
                <th:block th:if="${!url.contains('search')}">
                    <li class="page-item">
                        <a class="page-link text-dark" th:href="${url + '?page=' + (i - 1)+ '&size=' + page.getSize()}"
                           th:text="${i}"></a>
                    </li>
                </th:block>
                <th:block th:if="${url.contains('search')}">
                    <li class="page-item">
                        <a class="page-link text-dark" th:href="${url + '&page=' + (i - 1)+ '&size=' + page.getSize()}"
                           th:text="${i}"></a>
                    </li>
                </th:block>
            </th:block>

            <th:block th:if="${i == -1}">
                <li class="page-item disabled">
                    <a class="page-link text-dark" href="#">...</a>
                </li>
            </th:block>

        </th:block>
    <!--</ul>
    <ul class="pagination">-->

        <li class="page-item disabled ml-5">
            <a class="page-link text-dark" href="#" tabindex="-1">Элементов на странице</a>
        </li>
        <th:block th:each="c : ${#numbers.sequence(12, 36, 12)}">
            <th:block th:if="${c} == ${page.getSize()}">
                <li class="page-item active">
                    <a class="page-link bg-dark border-dark" href="#" th:text="${c}"></a>
                </li>
            </th:block>

            <th:block th:unless="${c} == ${page.getSize()}">
                <th:block th:if="${!url.contains('search')}">
                    <li class="page-item">
                        <a class="page-link text-dark" th:href="${url + '?page=' + page.getNumber()+ '&size=' + c}"
                           th:text="${c}"></a>
                    </li>
                </th:block>
                <th:block th:if="${url.contains('search')}">
                    <li class="page-item">
                        <a class="page-link text-dark" th:href="${url + '&page=' + page.getNumber()+ '&size=' + c}"
                           th:text="${c}"></a>
                    </li>
                </th:block>
            </th:block>
        </th:block>
    </ul>
</div>

<!--Footer-->
<footer th:fragment="footer" xmlns:th="http://www.thymeleaf.org" class="page-footer p-5 bg-black text-white">
    <div class="container">
        <div class="d-flex justify-content-between">
            <div class="footer-left">
                <h3>Perfume</h3>
                <p>(066) 696-66-23</p>
                <br/>
                <p>c 08:00 до 20:00 без перерыва и выходных</p>
            </div>
            <div class="footer-right">
                <h3>Мы в соцсетях</h3>
                <a href="https://www.linkedin.com/in/merikbest/"><i class="fab fa-linkedin fa-2x mr-3" style="color:white"></i></a>
                <a href="#"><i class="fab fa-facebook-f fa-2x mr-3" style="color:white"></i></a>
                <a href="#"><i class="fab fa-twitter fa-2x mr-3" style="color:white"></i></a>
            </div>
        </div>
        <div class="mx-auto" style="width: 200px;">
            <p>© Copy right merikbest</p>
        </div>
    </div>
    </nav>
</footer>

